DB_PASSWORD=replace_with_your_value
REDIS_PASSWORD=replace_with_your_value
JWT_SECRET=replace_with_your_value
STRIPE_SECRET_KEY=replace_with_your_value
STRIPE_WEBHOOK_SECRET=replace_with_your_value
MAPBOX_API_KEY=replace_with_your_value
ANTHROPIC_API_KEY=replace_with_your_value
WEATHER_API_KEY=replace_with_your_value
GRAFANA_PASSWORD=replace_with_your_value
